/* @font-face {
  font-family: ;
  src: url('');
  font-style: ;
  font-weight: ;
} */

:root {
  font-size: 18px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;
}

body{
  color: rgb(243, 234, 234);
  font-family: 'Rubik', sans-serif;
  background: #232946;
  margin: 0;
  /* text-align: center; */
}

a{
  color: var(--white30);
}

/* h1, h2, {
  font-weight bold; */



h1{
  font-size: 40px;
  margin-block-start: 50px;
  margin-block-end: 16px;
  font-style: normal;
  /* background: red; */
}

hr{
  outline-color: #bca09f;
  margin-block: 40px;
  opacity: 10%;
  /* border-color: #554847; */
}

h2{
  font-size: 2em;
  margin-block: 40px;

}

h3{
  font-size: 24px;
  font-weight: 600;
  margin-block: 16px;
}
.header{

  /* position: sticky;
  inset-block-start: -45px; */
}
.header-content{
  padding-inline: 20px;
  /* background: red; */
  /* position: relative;
  inset-block-start: 65px; */
}


header{
  margin-block-start: 20px;
  font-size: 14px;
  color: var(--white);
  /* margin-inline-start: 650px; */
  /* position: absolute; */
  /* inset-block-start: 64px;
  inset-inline-start: -208px
  inline-size: 188px; */
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header li{
  color: var(--white20);
  margin-block-end: 16px;
}
header a:hover{
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
}


pre{
  margin-block-start: 40px;
  color: #A5A3A5;
  background: none;
  padding: 40px;
  overflow: auto;
  border-radius: 8px;
}

p{
  color: var(--white20);
}

.indentacion {
  text-align: center;
}

.main{
  /* inset-inline-start: 10000px; */
}

.hero{
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  block-size: 100px;
}
.section-content img{
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
}
.section-content{
  /* background: red; */
  counter-reset: titleList;
}

.section-content h3{
  counter-increment: titleList;
}

.section-content h3::before{

  content: counter(titleList, decimal ) '. ';
}

/* .section-contenth3::after{
  content: '';
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
} */

blockquote{
  color: var(--white10);
  line-height: 32px;
  font-size: 24px;
margin-block-start: 60px;
margin-block-end: 63px;
background-color: #bca09f;
border-radius: 8px;
padding-inline-end: 24px;
padding-inline-start: 24px;
padding-block-start: 24px;
padding-block-end: 24px;

}
blockquote p{
  color: var(--white10);
}

.image{
  margin-inline-start: auto;
  margin-inline-end: auto;
}


.section-content li {
    color: var(--white20);
}


.wrapper{
  max-inline-size: 902px ;
  margin: auto;

}
.fraseLeonidas{
  text-align: left;
}

.main-content{
  padding-inline: 16px;
  /* text-align: center; */
}

/* .slider{ */
/* border: 1px solid red; */

  .slider-container{
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;

  }

  .video{
    margin: 0px;
    display: inline-block;
    width: 100%;
height: auto;
aspect-ratio: 16/9;
}
.slider-bullet-list{
  text-align: center;
  margin-block-start: 10px;

}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: white;
  border-radius: 50%;
}

.form input{
  width: 100%;
  border: 1px solid var(--white30);
  background: #251F24;
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form input[type="submit"] {
  color: #232946;
background: #bca09f;
border: none; }

.form ::-webkit-input-placeholder{
  color: var(--white20);
}

@media screen and (min-width: 1366px){
  .hero{
    block-size: 350px;
  }
  .header{
    position: sticky;
    inset-block-start: -45px;
  }
  .header-content{
    position: relative;
    inset-block-start: 15px;
    padding-inline: 0;
  }

  header{
    /* background: red; */
    position: absolute;
    inset-block-start: 0px;
    inset-inline-end: -230px;
    inline-size: 188px;
  }
  h1{
    font-size: 60px;
    margin-block-start: 64px;
  }
  /* .nav details{
    background: red;
  } */


  }
  /* .image{
    margin-inline-start: auto;
    margin-inline-end: auto; */
    /* width: 50%; */
  }
}